denv/
__pycache__
quiz/__pycache__/consumers.cpython-39.pyc
codefury/__pycache__/settings.cpython-39.pyc
codefury/__pycache__/settings.cpython-39.pyc
quiz/__pycache__/consumers.cpython-39.pyc
*.pyc
codefury/__pycache__/settings.cpython-39.pyc
