<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
</head>

<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <textarea id="chat-message-input" type="text" size="100"></textarea><br>
    <input type="text" type="text" id="option1">
    <input type="text" type="text" id="option2">
    <input type="text" type="text" id="option3">
    <input type="text" type="text" id="option4">
    <input type="number" type="text" id="answer">
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        const chatSocket = new WebSocket(
            ws_scheme + "://"
            + window.location.host
            + '/ws/quiz/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const option1 = document.getElementById("option1").value;
            const option2 = document.getElementById("option2").value;
            const option3 = document.getElementById("option3").value;
            const option4 = document.getElementById("option4").value;
            const answer = document.getElementById("answer").value;
            const message = messageInputDom.value;

            console.log(chatSocket)
            chatSocket.send(JSON.stringify({
                'message': {
                    'question': message,
                    'option1': option1,
                    'option2': option2,
                    'option3': option3,
                    'option4': option4,
                    'answer': answer,
                }
            }));
            messageInputDom.value = '';
        };
    </script>
</body>

</html>